<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdjustWindowForFontSizeChange</key>
	<false/>
	<key>Custom Color Presets</key>
	<dict>
		<key>Benji</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.12549020349979401</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.12156862765550613</real>
				<key>Red Component</key>
				<real>0.13725490868091583</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.23921568691730499</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.12549020349979401</real>
				<key>Red Component</key>
				<real>0.92941176891326904</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.44705882668495178</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.82745099067687988</real>
				<key>Red Component</key>
				<real>0.054901961237192154</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.43921568989753723</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.94509804248809814</real>
				<key>Red Component</key>
				<real>0.99215686321258545</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.94117647409439087</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.78823530673980713</real>
				<key>Red Component</key>
				<real>0.26666668057441711</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7450980544090271</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.53333336114883423</real>
				<key>Red Component</key>
				<real>0.61960786581039429</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.48235294222831726</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.35686275362968445</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.66274511814117432</real>
				<key>Red Component</key>
				<real>0.043137256056070328</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.15686275064945221</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.729411780834198</real>
				<key>Red Component</key>
				<real>0.98823529481887817</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.89803922176361084</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.70980393886566162</real>
				<key>Red Component</key>
				<real>0.070588238537311554</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.65490198135375977</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.36862745881080627</real>
				<key>Red Component</key>
				<real>0.48235294222831726</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.94901961088180542</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.85490196943283081</real>
				<key>Red Component</key>
				<real>0.53333336114883423</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.94509804248809814</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.94509804248809814</real>
				<key>Red Component</key>
				<real>0.94509804248809814</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.62745100259780884</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.65882354974746704</real>
				<key>Red Component</key>
				<real>0.67843139171600342</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.45098039507865906</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.36862745881080627</real>
				<key>Red Component</key>
				<real>0.94901961088180542</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.054901961237192154</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.050980392843484879</real>
				<key>Red Component</key>
				<real>0.058823529630899429</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14910030364990234</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.63921570777893066</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54509806632995605</real>
				<key>Red Component</key>
				<real>0.9529411792755127</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.92681378126144409</real>
				<key>Red Component</key>
				<real>0.70214027166366577</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.85490196943283081</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.95686274766921997</real>
				<key>Red Component</key>
				<real>0.97647058963775635</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.60000002384185791</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.88627451658248901</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.93725490570068359</real>
				<key>Red Component</key>
				<real>0.94901961088180542</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.888916015625</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.40335974097251892</real>
				<key>Red Component</key>
				<real>0.42475694417953491</real>
			</dict>
		</dict>
		<key>Dib</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.12542077898979187</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.12212123721837997</real>
				<key>Red Component</key>
				<real>0.13460123538970947</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.27187329530715942</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.22845679521560669</real>
				<key>Red Component</key>
				<real>0.80239397287368774</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.43556827306747437</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.74736827611923218</real>
				<key>Red Component</key>
				<real>0.46710658073425293</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.31915956735610962</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.85702437162399292</real>
				<key>Red Component</key>
				<real>0.86759954690933228</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96987372636795044</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.56982171535491943</real>
				<key>Red Component</key>
				<real>0.36130484938621521</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.8959575891494751</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.36448317766189575</real>
				<key>Red Component</key>
				<real>0.87703841924667358</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.91329902410507202</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.80119293928146362</real>
				<key>Red Component</key>
				<real>0.51500099897384644</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.26533028483390808</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.62546569108963013</real>
				<key>Red Component</key>
				<real>0.32976168394088745</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.3212864100933075</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.84190613031387329</real>
				<key>Red Component</key>
				<real>0.96353274583816528</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.86832618713378906</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.44782942533493042</real>
				<key>Red Component</key>
				<real>0.20897716283798218</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77307945489883423</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.30266517400741577</real>
				<key>Red Component</key>
				<real>0.79421132802963257</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.86637634038925171</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.76996397972106934</real>
				<key>Red Component</key>
				<real>0.39164620637893677</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.94509798288345337</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.94509798288345337</real>
				<key>Red Component</key>
				<real>0.94509798288345337</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.63070064783096313</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.65948760509490967</real>
				<key>Red Component</key>
				<real>0.67500275373458862</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.39215686917304993</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.34117648005485535</real>
				<key>Red Component</key>
				<real>0.86274510622024536</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.10000000149011612</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.10000000149011612</real>
				<key>Red Component</key>
				<real>0.10000000149011612</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.14499923586845398</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25273144245147705</real>
				<key>Red Component</key>
				<real>0.91916501522064209</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.64018470048904419</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.56515353918075562</real>
				<key>Red Component</key>
				<real>0.89774823188781738</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99078148603439331</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92047786712646484</real>
				<key>Red Component</key>
				<real>0.74862587451934814</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.86506235599517822</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.95752435922622681</real>
				<key>Red Component</key>
				<real>0.97302526235580444</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.97022837400436401</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.59083360433578491</real>
				<key>Red Component</key>
				<real>0.26380082964897156</real>
			</dict>
			<key>Match Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.8912087082862854</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.93764972686767578</real>
				<key>Red Component</key>
				<real>0.94694381952285767</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.86117774248123169</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.41281622648239136</real>
				<key>Red Component</key>
				<real>0.58710747957229614</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>1D97BD96-2414-49FD-8F97-87D453233028</string>
	<key>DeleteProfile_SilenceUntil</key>
	<real>711454935.87177503</real>
	<key>DeleteProfile_selection</key>
	<integer>0</integer>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.12542077898979187</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.12212123721837997</real>
				<key>Red Component</key>
				<real>0.13460123538970947</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.27187329530715942</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.22845679521560669</real>
				<key>Red Component</key>
				<real>0.80239397287368774</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.43556827306747437</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.74736827611923218</real>
				<key>Red Component</key>
				<real>0.46710658073425293</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.31915956735610962</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.85702437162399292</real>
				<key>Red Component</key>
				<real>0.86759954690933228</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.84906667470932007</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.37405085563659668</real>
				<key>Red Component</key>
				<real>0.24312236905097961</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.8959575891494751</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.36448317766189575</real>
				<key>Red Component</key>
				<real>0.87703841924667358</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.91329902410507202</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.80119293928146362</real>
				<key>Red Component</key>
				<real>0.51500099897384644</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.26533028483390808</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.62546569108963013</real>
				<key>Red Component</key>
				<real>0.32976168394088745</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.3212864100933075</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.84190613031387329</real>
				<key>Red Component</key>
				<real>0.96353274583816528</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.79153913259506226</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25991806387901306</real>
				<key>Red Component</key>
				<real>0.16826048493385315</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77307945489883423</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.30266517400741577</real>
				<key>Red Component</key>
				<real>0.79421132802963257</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.86637634038925171</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.76996397972106934</real>
				<key>Red Component</key>
				<real>0.39164620637893677</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.94509798288345337</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.94509798288345337</real>
				<key>Red Component</key>
				<real>0.94509798288345337</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.63070064783096313</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.65948760509490967</real>
				<key>Red Component</key>
				<real>0.67500275373458862</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.39215686917304993</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.34117648005485535</real>
				<key>Red Component</key>
				<real>0.86274510622024536</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.10000000149011612</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.10000000149011612</real>
				<key>Red Component</key>
				<real>0.10000000149011612</real>
			</dict>
			<key>Background Image Mode</key>
			<integer>0</integer>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.14499923586845398</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25273144245147705</real>
				<key>Red Component</key>
				<real>0.91916501522064209</real>
			</dict>
			<key>Blend</key>
			<real>0.59672978940217369</real>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>64</real>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.64018470048904419</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.56515353918075562</real>
				<key>Red Component</key>
				<real>0.89774823188781738</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99078148603439331</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92047786712646484</real>
				<key>Red Component</key>
				<real>0.74862587451934814</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.86506235599517822</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.95752435922622681</real>
				<key>Red Component</key>
				<real>0.97302526235580444</real>
			</dict>
			<key>Guid</key>
			<string>1D97BD96-2414-49FD-8F97-87D453233028</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2a-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>*</string>
				</dict>
				<key>0x2b-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>+</string>
				</dict>
				<key>0x2d-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>-</string>
				</dict>
				<key>0x2d-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x2e-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>.</string>
				</dict>
				<key>0x2f-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>/</string>
				</dict>
				<key>0x3-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0xd</string>
				</dict>
				<key>0x30-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>0</string>
				</dict>
				<key>0x31-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>1</string>
				</dict>
				<key>0x32-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>2</string>
				</dict>
				<key>0x32-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>3</string>
				</dict>
				<key>0x33-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>4</string>
				</dict>
				<key>0x34-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>5</string>
				</dict>
				<key>0x35-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>6</string>
				</dict>
				<key>0x36-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>7</string>
				</dict>
				<key>0x37-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>8</string>
				</dict>
				<key>0x38-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0x39-0x200000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>12</integer>
					<key>Text</key>
					<string>9</string>
				</dict>
				<key>0x7f-0x100000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x15</string>
				</dict>
				<key>0x7f-0x80000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x7f</string>
				</dict>
				<key>0xf700-0x220000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>b</string>
				</dict>
				<key>0xf702-0x300000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1</string>
				</dict>
				<key>0xf703-0x220000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>f</string>
				</dict>
				<key>0xf703-0x300000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x5</string>
				</dict>
				<key>0xf704-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf728-0x0-0x0</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x4</string>
				</dict>
				<key>0xf728-0x80000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>d</string>
				</dict>
				<key>0xf729-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
				<key>0xf739-0x0-0x0</key>
				<dict>
					<key>Action</key>
					<integer>13</integer>
					<key>Text</key>
					<string></string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.97022837400436401</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.59083360433578491</real>
				<key>Red Component</key>
				<real>0.26380082964897156</real>
			</dict>
			<key>Match Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>JetBrainsMonoNLNFM-SemiBold 18</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>2</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.8912087082862854</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.93764972686767578</real>
				<key>Red Component</key>
				<real>0.94694381952285767</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.86117774248123169</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.41281622648239136</real>
				<key>Red Component</key>
				<real>0.58710747957229614</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.25447140957446807</real>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/dib</string>
		</dict>
	</array>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>Print In Black And White</key>
	<true/>
	<key>PromptOnQuit</key>
	<false/>
	<key>Selection Respects Soft Boundaries</key>
	<false/>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.40345266990291256</real>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>6</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
